body {
    color: rgb(255, 255, 255);
    background-color: rgb(80, 0, 0);
    font-size: xx-large;
    font-family: "Consolas", monospace, 'Courier New', Courier;
}

p>a {
    text-decoration: none;
}

purplePD {
    color: purple;
}

a {
    color: red;
}

a:visited {
    color: orangered;
}

a:hover {
    color: yellow;
}

iframe {
    width: 100%;
    height: 100vh;
}

svg {
    width: 5em;
    height: 5em;
    border-radius: 5px;
}

.icon {
    fill: orangered;
    transition: fill 0.5s ease;
}

#defin {
    width: 0px;
    height: 0px
}

#inst:hover .icon {
    transition: 0.2s;
    fill: url(#inst);
}

#git:hover .icon {
    fill: url(#git);
}

#sptfy:hover .icon {
    fill: url(#sptfy);
}

#ggl:hover .icon {
    fill: url(#ggl);
}

#discord:hover .icon {
    fill: url(#discord);
}

#ytb:hover .icon {
    fill: url(#ytb);
}

button {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: inherit;
}

button:hover {
    background-color: red;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    text-align: center;
    border-radius: 25px;
}

.card:hover {
    background-color: rgb(190, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#titre {
    height: 100vh;
    align-content: center;
}

#titre_text {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

#menu {
    position: absolute;
    bottom: 0px;
}